* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #eaeaea;

}

/*ACA COMIENZA EL HEADER*/

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #fafafa;
}

header .nav-left {
    margin: 10px;
    display: flex;
}

header .nav-left .search-box {
    padding: 1px; 
    padding-left: 10px;
    margin-left: 10PX;
    width: 250px;
    background-color: rgba(239,239,239,1);
    display: flex;
    align-items: center;
    border-radius: 50px;
}

header .nav-left .search-box input {
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
    color: #8e8e8e;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header .nav-center ul {
    margin-right: 60px;
}

header .nav-center ul li {
    margin-top: 10px;
    padding: 10px 30px;
    margin-right: 40px;
    border-radius: 10px;
}

header .nav-center ul li:hover {
    background-color: #dadada;
}

header nav ul li a {
    text-decoration: none;
    color: gray;
}

header .nav-right ul li {
    margin-top: 10px;
    padding: 10px 2px;
}

header .nav-right ul li a {
    color: black;
    background-color: #eaeaea;;
    padding: 8px 10px;
    border-radius: 50%;
}

header .nav-right ul li a:hover {
    background-color: #8e8e8e;
}

header .nav-right ul img {
    margin: 10px;
    border-radius: 50%;
}

.container {
    display: flex;
}

/*AHORA EMPIEZO EL NAV DE LA IZQUIERDA*/

.left {
    padding-left: 6px;
    margin-right: 100px;
}

.list {
    border-right: #eaeaea solid;
}

.list:hover {
    border-right: #8e8e8e solid;
}

.list ul li {
    padding: 10px 100px 10px 10px;
    list-style: none;
}

.list ul li:hover {
    background-color: #dadada;
}

.list ul li img {
    border-radius: 50%;
    margin-right: 10px;
}

.list ul li a {
    text-decoration: none;
    color: black;
}

.list ul li a i {
    color: rgb(2, 95, 166);
    margin-right: 10px;
}

/*ACA EMPIEZO CON EL CENTRO*/
/*HISTORIA*/
.historia {
    margin: 10px auto 10px auto ;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
}

.historia .historia-inside {
    border-radius: 10px;
    padding: 10px 300px 10px 10px;
    display: flex;
}

.historia .historia-inside:hover {
    background-color: #dadada;
}

.historia-inside i {
    padding: 10px;
    margin-right: 10px;
    color: #0060e7;
    background-color: #a9cdff;
    border-radius: 45px;
}

.historia-inside .crear-historia a{
    text-decoration: none;
    color: black;
}

.historia-inside .crear-historia a p {
    color: #8e8e8e;
}
/*QUE ESTAS PENSANDO*/

/*CREAR SALA*/
.crear-sala {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    width: 500px;
    margin-right: 50px;
    margin-left: 55px;
}

.crear-sala .crear {
    border: #8e8e8e solid;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 300px;
    height: 35px;
}

.crear-sala .crear:hover {
    background-color: #dadada;
} 

.crear-sala .crear a {
    display: flex;
    padding: 7px 35px;
    text-decoration: none;
    color: #0060e7;
}


/*PARTE DERECHA*/

.right {
    margin-right: 0px;
    margin-left: 100px;
}

